.popup {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &--open {
    pointer-events: auto;

    .popup__body {
      opacity: 1;
    }
  }

  &__body {
    background-color: var(--background);
    border-radius: .75rem;
    box-shadow: 0 0 .75rem rgba(0, 0, 0, .05);
    left: 50%;
    opacity: 0;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .4s linear;
  }
}